!!!

%html
  %head
    %title Home Control
    :css
      * {
        font-family: "Helvetica", sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      .container {
        color: navy;
        width: 800px;
        margin: 0 auto;
      }
      .row-fluid {
        margin-top: 20px;
      }
      .container .row-fluid > .span6 {
        float: left;
      }
      .container .row-fluid .span6 {
        width: 48%;
      }
      .container .row-fluid .span6 {
        margin-right: 5%;
      }
      button.btn-block, a.btn-block {
        display: block;
        width: 100%;
      }
      button.btn-large, a.btn-large {
        margin-top: 3em;
        padding: 1em;
        font-size: 2em;
      }
      button, a {
        cursor: pointer;
      }
  %body
    .container
      .row-fluid
        .span12
          %button.btn-block.btn-large#sock1 Lamp On/Off
      .row-fluid
        .span12
          %button.btn-block.btn-large#sock2 Christmas Lights On/Off

    :javascript
      var socket = io.connect('http://localhost');

      socket.on('message', function(data) {
        console.log(data);
      });

      document.addEventListener('DOMContentLoaded', function(){
        // all of the buttons should have the 'pins' class
        var pins = document.querySelectorAll('.pins');
        // The submit button should have the id 'update-pins'
        var updatePins = document.getElementById('update-pins');
        updatePins.addEventListener( 'click', function( event ) {
          event.preventDefault();

          // Save the state of the buttons
          var data = {};

          for( var i = 0; i < pins.length; i++ ) {
            // Assuming they start with only one class
            // the second element in the classList should be 
            // 'active' if it's set.
            if( pins[i].classList[1] === 'active' ) {
              // The id of the element should just be the pin number
              data[ pins[i].id ] = 1;
            } else {
              // should be set to 0 if it should be off
              data[ pins[i].id ] = 0;
            }
          }

          socket.emit('update-pins', data );
        });
      });

